/*Nested hover*/
$color-red: #FF0000;
$color-green: #00FF00;
$f-size: 12px;

.info {
    size: $f-size;
}

.success {
    @extend .info;
    color: $color-green;
}

.warning {
    @extend .info;
    color: $color-red;
}
